<h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Total number of news</h4>
              <span class="text-muted"><%= numberOfTotalNews %></span>
            </div>
            
            

            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Your number of news</h4>
              <span class="text-muted">Something else</span>
            </div>    
                        <!--  
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>-->
          </div>


<% if(typeof news !== 'undefined') { %>
<section id="news">
  <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <h2 class="section-heading text-center bg-white">News</h2>
        </div>

          <% _.each(news, function(newsArticle){ %>
              <div class="col-sm-4 news-item">
                  <div style="background-color:white;">
                    
                    <% if(newsArticle.image){%>
                      <img class="img-responsive" src="<%= newsArticle.image %>" alt="<%= newsArticle.topic %>">
                    <% } %>
                    
                      <div class="news-item--container">
                          <h3 class="news-item--title">
                              <%= newsArticle.topic %>
                          </h3>
                          <p>
                              <%= newsArticle.description %>
                          </p>
                          <small><%= newsArticle.createdAt %></small>
                      </div>
                  </div>
              </div>
              <% }); %>

      </div>
  </div>
</section>
<% } %>
