<header id="topHeader">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Yövuoro</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut lorem et felis rhoncus ultrices. Suspendisse vulputate scelerisque mauris eget fringilla.</p>
    </div>
  </div>
</header>


<% if(typeof news !== 'undefined') { %>
<section id="news">
  <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <h2 class="section-heading text-center bg-white">News</h2>
        </div>

          <% _.each(news, function(newsArticle){ %>
              <a href="news1/<%= newsArticle.id %>">
                <div class="col-sm-4 news-item">
                    <div style="background-color:white;">

                      <% if(newsArticle.image){%>
                        <img class="img-responsive" src="<%= newsArticle.image %>" alt="<%= newsArticle.topic %>">
                      <% } %>

                        <div class="news-item--container">
                            <h3 class="news-item--title">
                                <%= newsArticle.topic %>
                            </h3>
                            <p>
                                <%= newsArticle.description %>
                            </p>
                            <small><%= newsArticle.createdAt %></small>
                        </div>
                    </div>
                </div>
              </a>
              <% }); %>

      </div>
  </div>
</section>
<% } %>

<section id="" class="bg-darkBlue">
  <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <h2 class="section-heading text-center bg-darkBlue">Section</h2>
        </div>
    </div>
  </div>
</section>







</body>